<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanzucode</title>
    <link rel="shortcut icon" href="images/kanzucode.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
 <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <h4>Express starter</h4>
                </a>
            </div>
            <nav>
                <ul id="menuItems">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="presentation container">
		<div class="introduction">
			<div class="intro-text">
				<h1>404 page</h1>
				<p>Ooops, The page you requested was not found.</p>
			</div>
		</div>
		<div class="cover">
			<img src="./images/svg/values.svg" alt="values">
		</div>
	</section>
</body>
</html>